body {
  padding: 0 50px;
  background-color: hwb(255 87% 7%);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
  background-image: url(huellas.jfif);
}

h1 {
  margin: 0;
  font-family: "SigmarOne";
  font-size: 3rem;
  text-align: center;
  text-shadow: 2px 2px rgb(255, 255, 255);
}

h2 {
  margin: 0;
  color:hwb(284 38% 47%);
  font-family: "SigmarOne";
  font-size: 3rem;
  text-transform: capitalize;
  text-shadow: 3px 2px white;
}

strong {
  padding: 0 10px;
  background-color: white;
  color: red;
}

i {
  font-size: 1.25rem;
  font-weight: bold;
  text-decoration: underline;
}

time {
  color: blue;
}

img {
  border: hwb(295 50% 30%) 5px solid;
  padding: 5px;
}

img.izquierda {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

img.derecha {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

p.izquierda {
  float: left;
  width: 33%;
}

p.centrado {
  text-align: center;
}

hr {
  clear: both;
  width: 66%;
  height: 10px;
  border: hwb(293 13% 25%) 1px solid;
  border-radius: 5px;
  margin: 40px auto;
  background-color: hwb(293 50% 30%);
}

address {
  text-align: right;
  font-style: normal
}