html {
    background-color: hwb(150 25% 30%);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 125%;
    text-align: left;
    hyphens: auto;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article {
    display: flex;
    flex-direction: inherit;
    width: 25%;
    margin: 2%;
    border: rgb(21, 255, 0) 3px solid;
    background-color: hwb(150 50% 30%);

}

h2 {
    margin: 3%;
    padding: 5px;
    border-right: black 1px solid;

}
img{
    border: 10px solid green;
    
}

div {
    margin: 1%;
}
div p{
    text-align: justify;
    
}
div p::first-letter{
    float: left;
    color: green;
    font-size: 5rem;
    font-style: normal;
    line-height: 3rem; 

  }
  span{
    font-weight: bolder;
    color: rgb(1, 61, 1);
  }

