.container{
    text-decoration: none;
    align-items: center;
    align-content: center;
    display: flex;
    gap: 20px;
}

.color{
    text-decoration: none;
    padding: 25px 20px;
    text-align: center;
    background: #000000;
    border-radius: 4px;
    margin-bottom: 30px;
}

.swatch {
    text-decoration: none;
    position: relative;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    width: 110px;
    height: 110px;
    font-size: 70px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
}